h2 {
    text-align: center;
    text-decoration: underline;
    color: red;
}

div {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-weight: bold;
    font-size: larger;
}

header {
    text-align: center;
}

#defi {
    color: green;
}

#toDecode {
    color: magenta;
}